<!-- administrative_secretary/district_transactions_report.html -->
{% load static %} <!-- To use static files like Bootstrap -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>District Transactions Report</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-wEmeU7VDPn9301vF6b0Ff40mCg0F5rvuY8VZcMCpjoEuw7jv2Jy8iE19KGoFXB6L"
    crossorigin="anonymous"
  />
  <style>
    .report-title {
      text-align: center;
      margin-top:auto;
    }

    .report-table th {
      text-align: left;
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="report-title bg-gradient-success">District Transactions Report</h1>
    <h3 class="report-title bg-gradient-success mt-3">issued by    .......................</h3>
    <h3 class="report-title bg-gradient-success mt-3">signature   .......................... </h3>

    <!-- Table with Bootstrap styling -->
    <table class="table table-striped table table-bordered table-hover report-table">
      <thead>
        <tr>
          <th>Transaction Type</th>
          <th>Amount</th>
          <th>Date</th>
          <th>From Account</th>
          <th>To Account</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.date_created }}</td>
          <td>{{ transaction.from_account.account_name }}</td>
          <td>{{ transaction.destination_account.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
