{% extends dashboard_template %}

    {% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
              <h4 class="text-center"style="font-family: Arial, sans-serif; font-size: 20px; color: white; font-weight: bold; margin: 0;"><i class="fas fa-user-edit mr-2"></i> view your profile Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="username"><i class="fas fa-user mr-2"></i> Username:</label>
                      <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="first_name"><i class="fas fa-user mr-2"></i> First Name:</label>
                      <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.user.first_name }}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="last_name"><i class="fas fa-user mr-2"></i> Last Name:</label>
                      <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.user.last_name }}" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="email"><i class="fas fa-envelope mr-2"></i> Email:</label>
                      <input type="email" class="form-control" id="email" name="email" value="{{ profile.user.email }}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="phone"><i class="fas fa-phone mr-2"></i> Phone:</label>
                      <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="sex"><i class="fas fa-venus-mars mr-2"></i> Sex:</label>
                      <select class="form-control" id="sex" name="sex" required>
                        <option value="male" {% if profile.sex == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if profile.sex == 'female' %}selected{% endif %}>Female</option>
                      </select>
                    </div>
                  </div>
                </div>
<!--                {% comment %} <div class="row">-->
<!--                  <div class="col">-->
<!--                    <div class="form-group">-->
<!--                      <label for="role"><i class="fas fa-user-tie mr-2"></i> Role:</label>-->
<!--                      <select class="form-control" id="role" name="role" required>-->
<!--                        <option value="member" {% if profile.role == 'member' %}selected{% endif %}>Member</option>-->
<!--                        <option value="Development-Officer" {% if profile.role == 'Development-Officer' %}selected{% endif %}>Development Officer</option>-->
<!--                        <option value="Administrative-Secretary" {% if profile.role == 'Administrative-Secretary' %}selected{% endif %}>Administrative Secretary</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div> {% endcomment %}-->
              <div class="card-footer text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateModal"><i class="fas fa-user-edit mr-2"></i> Update Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update your Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="updateForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="username"><i class="fas fa-user mr-2"></i> Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
          </div>
          <div class="form-group">
            <label for="first_name"><i class="fas fa-user mr-2"></i> First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.user.first_name }}" required>
          </div>
          <div class="form-group">
            <label for="last_name"><i class="fas fa-user mr-2"></i> Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.user.last_name }}" required>
          </div>
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope mr-2"></i> Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ profile.user.email }}" required>
          </div>
          <div class="form-group">
            <label for="phone"><i class="fas fa-phone mr-2"></i> Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}" required>
          </div>
          <div class="form-group">
            <label for="sex"><i class="fas fa-venus-mars mr-2"></i> Sex:</label>
            <select class="form-control" id="sex" name="sex" required>
              <option value="male" {% if profile.sex == 'male' %}selected{% endif %}>Male</option>
              <option value="female" {% if profile.sex == 'female' %}selected{% endif %}>Female</option>
            </select>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="role"><i class="fas fa-user-tie mr-2"></i> Role:</label>-->
<!--            <select class="form-control" id="role" name="role" required>-->
<!--              <option value="member" {% if profile.role == 'member' %}selected{% endif %}>Member</option>-->
<!--              <option value="Development-Officer" {% if profile.role == 'Development-Officer' %}selected{% endif %}>Development Officer</option>-->
<!--              <option value="Administrative-Secretary" {% if profile.role == 'Administrative-Secretary' %}selected{% endif %}>Administrative Secretary</option>-->
<!--            </select>-->
<!--          </div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-2"></i> Cancel</button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-2"></i> Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript to show success message in modal
  $(document).ready(function(){
    {% if messages %}
      $('#successModal').modal('show');
    {% endif %}
  });
</script>
{% endblock %}
